<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Pet Page</title>
    <style>
        #square {
            width: 300px;
            height: 300px;
            background-color: #E48400;
            place-items: center;
            margin: auto;
        }
    </style>
</head>

<body>
    <h1 id="petNameDisplay">This is <%-petName%></h1>
    <p>Hunger drains every 10 seconds</p>
    <p id="hungerDisplay">Hunger: <%-petHunger%>/50</p>
    <p id="happinessDisplay">Happiness: <%-petHappiness%>/50</p>
    <button onclick="feedPet()">Feed Pet</button>
    <div class="square" id="square"></div>
    <script>
        const xhttp = new XMLHttpRequest();
        const hungerDisplay = document.getElementById('hungerDisplay');
        const happinessDisplay = document.getElementById('happinessDisplay');
        const petNameDisplay = document.getElementById('petNameDisplay');
        var petName = "<%-petName%>";
        var petHunger = parseInt(`<%-petHunger%>`);
        var petHappiness = parseInt(`<%-petHappiness%>`);
        hungerDisplay.innerText = "Hunger: " + petHunger + "/50";
        happinessDisplay.innerText = "Happiness: " + petHappiness + "/50";
        petNameDisplay.innerText = "This is " + petName;
        // Create Pet Hunger stat and drain
        function petHungerDrain() {
            if (petHunger > 0) {
                petHunger -= 1;
                console.log("Pet Hunger: ", petHunger);
                sendStats(petHunger, petHappiness)
                hungerDisplay.innerText = "Hunger: " + petHunger + "/50";
            } else {
                console.log("Hunger level has reached 0.");
                alert("Your pet " + petName + " has died of starvation.");
            }
        }

        function petHappinessDrain() {
            if (petHappiness > 0) {
                petHappiness -= 1;
                console.log("Pet Happiness: ", petHappiness);
                sendStats(petHunger, petHappiness)
                happinessDisplay.innerText = "Happiness: " + petHappiness + "/50";
            } else {
                console.log("Happiness level has reached 0.");
                alert("Your pet " + petName + " has died of boredom.");
            }
        }

        function statChange() {
            petHungerDrain();
            petHappinessDrain();
        }

        setInterval(statChange, 10000);

        // Button to feed pet
        function feedPet() {
            console.log(petHunger)
            if (petHunger < 50) {
                petHunger += 1;
                sendStats(petHunger, petHappiness)
                colorChange(petHunger, petHappiness)
                hungerDisplay.innerText = "Hunger: " + petHunger + "/50";
            } else {
                console.log("Pet is full.");
            }
        }

        //Send Hunger Stat to Server
        function sendStats(hunger, happiness) {
            xhttp.open("POST", "/petView", true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({ petHunger: hunger, petHappiness: happiness }));
        }

        function colorChange(petHunger, petHappiness) {
            const square = document.getElementById('square');
            if (petHunger < 30 || petHappiness < 30) {
                square.style.backgroundColor = "#FF0000"; 
            } else if (petHunger >= 30 && petHappiness >= 30) {
                square.style.backgroundColor = "#E48400"; 
            }
        }
        setInterval(colorChange, 10000);
    </script>
</body>

</html>